/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/11/2020 17:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-car-repair:before {
  content: "\f100";
}
.flaticon-automobile:before {
  content: "\f101";
}
.flaticon-maintenance:before {
  content: "\f102";
}
.flaticon-vehicle:before {
  content: "\f103";
}
.flaticon-car:before {
  content: "\f104";
}
.flaticon-mechanical:before {
  content: "\f105";
}
.flaticon-maintenance-1:before {
  content: "\f106";
}
.flaticon-maintenance-2:before {
  content: "\f107";
}
.flaticon-quotation:before {
  content: "\f108";
}
.flaticon-search:before {
  content: "\f109";
}
.flaticon-lifter:before {
  content: "\f10a";
}
.flaticon-car-service:before {
  content: "\f10b";
}
.flaticon-screwdriver:before {
  content: "\f10c";
}
.flaticon-tow-truck:before {
  content: "\f110";
}
